:root {
    --mlb-away-color: #002F6C;
    --mlb-home-color: #CC0000;
    --nfl-away-color: #203731;
    --nfl-home-color: #002244;
}
html {
    font-family:Arial, Helvetica, sans-serif;
}
.boxscore {
    border: 2px solid #000;
    margin: 2rem 0;
    padding: 2rem;
}

.boxscore.mlb .boxscore__team--away label, .boxscore.mlb .boxscore__details__team--away {
    background-color: var(--mlb-away-color);
}

.boxscore.mlb .boxscore__team--home label, .boxscore.mlb .boxscore__details__team--home {
    background-color: var(--mlb-home-color);
}

.boxscore.nfl .boxscore__team--away label, .boxscore.nfl .boxscore__details__team--away {
    background-color: var(--nfl-away-color);
}

.boxscore.nfl .boxscore__team--home label, .boxscore.nfl .boxscore__details__team--home {
    background-color: var(--nfl-home-color);
}

.boxscore__team__units, .boxscore__team__results {
    display: flex;
    justify-content: space-between;
}

.boxscore__team {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.boxscore__team label {
    border: 1px solid #000;
    width: 100px;
}

.boxscore__team.boxscore__team--away label {
    color: #fff;
}

.boxscore__team.boxscore__team--home label {
    color: #fff;
}

.boxscore__team__results {
    margin-left: 1rem;
}

.boxscore__team__units span, .boxscore__team__results span {
    text-align: center;
    border: 1px solid #000;
    width: 100%;
}
.boxscore__team label, .boxscore__team__units span, .boxscore__team__results span {
    padding: 5px;
}
.boxscore__team__units span:nth-of-type(odd), .boxscore__team__results span:nth-of-type(odd) {
    background-color: #ededed;
}
.boxscore__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.boxscore__details__team {
    color: #fff;
}
.boxscore__details__team, .boxscore__details__info {
    text-align: center;
    padding: 10px 0;
}
.boxscore__details__team p {
    display: grid;
    margin-top: 0;
}
