:root {
    --mlb-away-color: #002F6C;
    --mlb-home-color: #CC0000;
    --nfl-away-color: #203731;
    --nfl-home-color: #002244;
}
html {
    font-family:Arial, Helvetica, sans-serif;
}
.boxscore {
    border: 2px solid #000;
    margin: 2rem 0;
    padding: 2rem;
}

.boxscore.mlb .boxscore__team--away, .boxscore.mlb .boxscore__details__team--away {
    background-color: var(--mlb-away-color);
}

.boxscore.mlb .boxscore__team--home, .boxscore.mlb .boxscore__details__team--home {
    background-color: var(--mlb-home-color);
}

.boxscore.nfl .boxscore__team--away, .boxscore.nfl .boxscore__details__team--away {
    background-color: var(--nfl-away-color);
}

.boxscore.nfl .boxscore__team--home, .boxscore.nfl .boxscore__details__team--home {
    background-color: var(--home-away-color);
}

.boxscore__team__units, .boxscore__team__results {
    display: flex;
}

.boxscore__team__units span, .boxscore__team__results span {
    width: 25px;
    text-align: center;
}

.boxscore__team {
    display: flex;
    justify-content: center;
}

.boxscore__team label {
    width: 50px;
    border: 1px solid #000;
}

.boxscore__team.boxscore__team--away label {
    background-color: blue;
    color: #fff;
}

.boxscore__team.boxscore__team--home label {
    background-color: red;
    color: #fff;
}

.boxscore__team__results {
    margin-left: 1rem;
}

.boxscore__team__units span, .boxscore__team__results span {
    border: 1px solid #000;
}

.boxscore__team__units span:nth-of-type(odd), .boxscore__team__results span:nth-of-type(odd) {
    background-color: #ededed;
}
.boxscore__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.boxscore__details__team {
    color: #fff;
}
.boxscore__details__team, .boxscore__details__info {
    text-align: center;
}

